<!DOCTYPE html>
<html>

<head>
    <title>Express Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Welcome to the Express Blog</h1>
    <p>This is the home page.</p>
</body>

</html>